<section class="container">
    <div class="exellent-wrapper">
        <div class="exellent-photo">
            <img src="./images/iPhone_in_hand.jpg" alt='phone' width='423px' height='616px'/>

        </div>
        <div class="exellent-content">
            <h2 class='sections-headers-global header-exellent'>Excellent for Mobile Devices.</h2>
            <p class='section-global-description description-exellent'>Qisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
            consequat. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius claritas. Eodem modo typi, qui
            nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
           <ul class='exellent-list'>
               <li class='exellent-list-item'>
                   <svg width="21" height="21">
                <use href="./sprite.svg#icon-list-arrow">
                </use>
            </svg>
            <span>Nam liber tempor cum soluta nobis eleifend option;</span>
        </li>
            <li class='exellent-list-item'>
                <svg width="21" height="21">

                    <use href="./sprite.svg#icon-list-arrow">
                    </use>
                </svg>
                <span>Option congue nihil imperdiet doming id quod mazim placerat facer;</span>
            </li>
                <li class='exellent-list-item'>
                    <svg width="21" height="21">
                        <use href="./sprite.svg#icon-list-arrow">
                        </use>
                    </svg>
                    <span>Eodem modo typi, qui nunc nobis videntur parum futurum;</span>
                </li>
                    <li class='exellent-list-item'>
                        <svg width="21" height="21">
                            <use href="./sprite.svg#icon-list-arrow">
                            </use>
                        </svg>
                        <span>Investigationes demonstraverunt lectores</span>
                    </li>
            
           </ul>
        </div>
    </div>
</section>
<div class="exxelent-footer">
    <div class="container ">
        <ul class='exellent-container-wrapper'>
            <li class='exellent-list-footer-item'>
                <svg width="44" height="44">
                    <use href="./sprite.svg#icon-clients">
                    </use>
                </svg>
                <span class="counter">3587</span>
                <span class="exxelent-footer-item-description">Satisfied Clients</span>
            </li>
            <li class='exellent-list-footer-item'>
                <svg width="44" height="44">
                    <use href="./sprite.svg#icon-cofee-cup">
                    </use>
                </svg>
                <span class="counter">207</span>
                <span class="exxelent-footer-item-description">Cups of coffee</span>
            </li>
            <li class='exellent-list-footer-item'>
                <svg width="48" height="44">
                    <use href="./sprite.svg#icon-chat">
                    </use>
                </svg>
                <span class="counter">2500</span>
                <span class="exxelent-footer-item-description">Blog posts</span>
            </li>
            <li class='exellent-list-footer-item'>
                <svg width="44" height="44">
                    <use href="./sprite.svg#icon-heart">
                    </use>
                </svg>
                <span class="counter">873</span>
                <span class="exxelent-footer-item-description">Likes</span>
            </li>
            <li class='exellent-list-footer-item'>
                <svg width="54" height="44">
                    <use href="./sprite.svg#icon-dish">
                    </use>
                </svg>
                <span class="counter">900</span>
                <span class="exxelent-footer-item-description">We launched</span>
            </li>
        </ul>
    </div>
</div>