<section class="container">
    <ul class="features-list">
        <li class="features-list-item"><svg class="features-icon" width="49" height="49">
                <use href="./sprite.svg#icon-crayon"></use>
            </svg>
            <h2 class="features-cars-title">Web & App Design</h2>
            <p class="features-cars-description">Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.</p>
        </li>

        <li class="features-list-item"><svg class="features-icon" width="44" height="40">
                <use href="./sprite.svg#icon-data"></use>
            </svg>
            <h2 class="features-cars-title">Development</h2>
            <p class="features-cars-description">Lorem ipsum dolor sit amet, adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
        </li>

        <li class="features-list-item"><svg class="features-icon" width="44" height="44">
                <use href="./sprite.svg#icon-tools"></use>
            </svg>
            <h2 class="features-cars-title">Customization</h2>
            <p class="features-cars-description">Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.</p>
        </li>

        <li class="features-list-item"><svg class="features-icon" width="52" height="36">
                <use href="./sprite.svg#icon-bag"></use>
            </svg>
            <h2 class="features-cars-title">Marketing</h2>
            <p class="features-cars-description">Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.</p>
        </li>

    </ul>
</section>