<header>
<div class="container header-wrapper">
  <button class="header-close-menu close-js" type="button" aria-label="menu button close">
    <svg width="23" height="15">
      <use href="./sprite.svg#icon-cancel"></use>
    </svg>
  
  </button>
  
  <button class="header-open-menu open-js" type="button" aria-label="menu button open">
    <svg width="23" height="15">
      <use href="./sprite.svg#icon-menu"></use>
    </svg>
  
  </button>


  <a href="#" class="logo-header"><svg  width="56" height="64">
    <use href="./sprite.svg#icon-logo-header"></use>
  </svg><span class="logo-title">Waxom</span></a>

  <nav class="site-nav">
    <a class='site-nav-links' href="">Home</a>
    <a class='site-nav-links' href="">About Us</a>
    <a class='site-nav-links' href="">Portfolio</a>
    <a class='site-nav-links' href="">Features</a>
    <a class='site-nav-links' href="">Blog</a>
    <a class='site-nav-links' href="">Pricing</a>
    <a class='site-nav-links' href="">Shortcodes</a>
    <a class='site-nav-links' href="">Contact</a>
    
  </nav>
 <div class="header-icon-wrapper">
    <svg class="icon-bag-header" width="18" height="24">
      <use href="./sprite.svg#icon-bag-header"></use>
    </svg>
    <svg class="icon-search-header" width="24" height="24">
      <use href="./sprite.svg#icon-search-header"></use>
    </svg>
 </div>
</div>
</header>