<section class="container">
 <div class="introduce-container">
        <h2 class='sections-headers-global'>Waxom is Realization of your Ideas.</h2>
      <div class="description-container">
            <p class='section-introduce-description'>Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.
                Claritas est etiam processus
                dynamicus,
                qui sequitur mutationem consuetudium.</p>
      </div>
</div>
        <div class="bacground-imgages">
            
                <img class='bg-image1' src='./images/browser-left.jpg' alt='browser1'/>
           
           
                <img class='bg-image2' src='./images/browser-center.jpg' alt='browser2' />
          
          
                <img class='bg-image3' src='./images/browser-right.jpg' alt='browser3' />
            
        </div>
 
</section>
<div class='introduce-footer'>
  <div class='container introduce-footer-wrapper'>
    <div>
      <h2 class='introduce-footer-title'>
        <span>Waxom </span>Multipurpose WordPress Theme
      </h2>
      <p class='introduce-footer-description'>Don't Forget to Rate the Template. Thanks so much!</p>
    </div>
    <button class="general-btn-style">Purchase Now</button>
  </div>
</div>