<section class="container">
<div class="our-projects-container"><h2 class='sections-headers-global'>Our Latest Projects.</h2>
<div class="description-container">
    <p class='section-global-description'>Investigationes demonstraverunt lectores legere me lius quod ii legunt
        saepius.
        Claritas est etiam processus dynamicus,
        qui sequitur mutationem consuetudium.</p>
</div>

<nav class='projects-navigation'>
    <a class='projects-navigation-link' href='#'>All</a>
    <a class='projects-navigation-link' href='#'>Web Design</a>
    <a class='projects-navigation-link' href='#'>Mobile App</a>
    <a class='projects-navigation-link' href='#'>Illustration</a>
    <a class='projects-navigation-link' href='#'>Photography</a>
</nav>

<ul class='projects-cards-list'>
    <li class='projects-card'>
        <div class='gradient'>
            <div class='prigect-cards-icons'>
            <svg class='icon-link' width="26" height="26">
                <use href="./sprite.svg#icon-link"></use>
            </svg>
            <svg width="26" height="26">
                <use href="./sprite.svg#icon-lupa"></use>
            </svg>
        </div>
        <img class='card-img' src="./images/photo-phone.jpg" alt="phone" /></div>
        <div class='cards-content'>
            <div class="figure"></div>
            <h3 class='card-title'>Claritas Etiam Processus</h3>
            <p class='card-descr'>Photography, Nature</p>
        </div>
    </li>
    <li class='projects-card'>
<div class='gradient'><div class='prigect-cards-icons'>
    <svg class='icon-link' width="26" height="26">
        <use href="./sprite.svg#icon-link"></use>
    </svg>
    <svg width="26" height="26">
        <use href="./sprite.svg#icon-lupa"></use>
    </svg>
</div><img class='card-img' src="./images/nature.jpg" alt="nature" /></div>
        <div class='cards-content'>
            <div class="figure"></div>
            <h3 class='card-title'>Quam Nutamus Farum</h3>
            <p class='card-descr'>Graphic Design, Mock-Up</p>
        </div>
    </li>
    <li class='projects-card'>
<div class='gradient'><div class='prigect-cards-icons'>
    <svg class='icon-link' width="26" height="26">
        <use href="./sprite.svg#icon-link"></use>
    </svg>
    <svg width="26" height="26">
        <use href="./sprite.svg#icon-lupa"></use>
    </svg>
</div><img class='card-img' src="./images/book.jpg" alt="book" /></div>
        <div class='cards-content'>
            <div class="figure"></div>
            <h3 class='card-title'>Usus Legentis Videntur</h3>
            <p class='card-descr'>Photography, Holiday</p>
        </div>
    </li>
    <li class='projects-card'>
        <div class='gradient'><div class='prigect-cards-icons'>
            <svg class='icon-link' width="26" height="26">
                <use href="./sprite.svg#icon-link"></use>
            </svg>
            <svg width="26" height="26">
                <use href="./sprite.svg#icon-lupa"></use>
            </svg>
        </div><img class='card-img' src="./images/nature-birds.jpg" alt='birds' /></div>
        <div class='cards-content'>
        <div class="figure"></div>
            
            <h3 class='card-title'>Claritas Etiam Processus</h3>
            <p class='card-descr'>Photography, Nature</p>
        </div>
    </li>
    <li class='projects-card'>
<div class='gradient'><div class='prigect-cards-icons'>
    <svg class='icon-link' width="26" height="26">
        <use href="./sprite.svg#icon-link"></use>
    </svg>
    <svg width="26" height="26">
        <use href="./sprite.svg#icon-lupa"></use>
    </svg>
</div><img class='card-img' src="./images/jurnal.jpg" alt='jurnal' /></div>
        <div class='cards-content'>
        <div class="figure"></div>
            
            <h3 class='card-title'>Quam Nutamus Farum</h3>
            <p class='card-descr'>Graphic Design, Mock-Up</p>
        </div>
    </li>
    <li class='projects-card'>
<div class='gradient'><div class='prigect-cards-icons'>
    <svg class='icon-link' width="26" height="26">
        <use href="./sprite.svg#icon-link"></use>
    </svg>
    <svg width="26" height="26">
        <use href="./sprite.svg#icon-lupa"></use>
    </svg>
</div><img class='card-img' src="./images/sea.jpg" alt='sea' /></div>
        <div class='cards-content'>
            <div class="figure"></div>
            <h3 class='card-title'>Usus Legentis Videntur</h3>
            <p class='card-descr'>Photography, Holiday</p>
        </div>
    </li>
</ul>

<button type="button" class='general-btn-style'>Load More</button></div>
</section>