<section class='presentation'>
    <div class="container presentation-container">
        <p class="presentation-title">Unique and Modern Design</p>
        <h1 class='presentation-title-header'>Portfolio PSD Template</h1>
        <p class='presentation-title2'>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim
        assum.</p>

        <button class='general-btn-style' type="button">Get Started</button>
    </div>

<div class="points">
   <div class="points-items"></div>
   <div class="points-items"></div>
   <div class="points-items"></div>
   <div class="points-items"></div>
   <div class="points-items"></div>
</div>

<div class="arrows-wrapper">
    <button class="prev"><svg class="icon-arrow-left-header" width="40" height="73">
            <use href="./sprite.svg#icon-arrow-left-header"></use>
        </svg></button>
    <button class="next"><svg class="arrow-right-header" width="40" height="73">
            <use href="./sprite.svg#icon-arrow-right-header"></use>
        </svg></button>
</div>
</section>