<section class="video-container">
<div class="container video-container-wrapper">
    <div class="bg-for-logo">
        <svg class="player-logo" width="70" height="70">
            <use href="./sprite.svg#icon-icon-play"></use>
        </svg>

    </div>
    <h2 class="video-section-title">
        Waxom Video Presentation
    </h2>
    <p class='video-description'>
        Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius, qui sequitur mutationem consuetudium.
    </p>
    <span class='video-time'>03:26</span>
</div>
</section>